<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=title %></title>
<% css_files.each do |t| %>
<LINK rel="stylesheet" href="<%= t %>" type="text/css">
<% end %>
<% js_files.each do |t| %>
<script src="<%= t %>"></script>
<% end %>
<LINK rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
<LINK rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body>
<div id='header'>
  <h1><a href='/'>World Hello</a></h1>

  <div id='menu'>
    <ul>
      <li><a href='/' id='home_link' title='Home'>首页</a></li>
      <li><a href='/blog.html' id='blog_link' title='Blog'>博客</a></li>
      <li><a href='/doc/' id='docs_link' title='Docs'>文章</a></li>
      <li><a href='/about.html' id='about_link' title='About'>关于</a></li>
      <li><a href='http://github.com/gotgit' target='_blank' title='GitHub' rel='me' id='github_link'>GitHub</a></li>
      <li><a href='http://weibo.com/gotgit' title='微博' target='_blank' id='weibo_link'>微博</a></li>
    </ul>
  </div>
</div>

<div class="document">
<h2><%=title %></h2>
<div id="tty">Enable JavaScript to see the animation.</div>
<script>
showTTYURL( document.getElementById("tty"), "<%=json_file%>" );
</script>
</div>
</body>
</html>
