<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=title %></title>
<% css_files.each do |t| %>
<LINK rel="stylesheet" href="<%= t %>" type="text/css">
<% end %>
<% js_files.each do |t| %>
<script src="<%= t %>"></script>
<% end %>
</head>
<body>
<div class="document">
<h2><%=title %></h2>
<div id="tty">Enable JavaScript to see the animation.</div>
<script>
showTTYURL( document.getElementById("tty"), "<%=json_file%>" );
</script>
</div>
</body>
</html>
